<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/public/styles/main.css">

    <script src="/public/scripts.js" defer></script>
</head>
<body>
    <header>
        <h1>Module One</h1>
    </header>
    <main>
        <div class="services">
            <div id="retirement" class="service">
                <h2>Retirement</h2>
            </div>

            <div id="bmi" class="service">
                <h2>B.M.I.</h2>
            </div>
        </div>
    </main>
    <footer>
        <p>Copyright © 2020</p>
    </footer>
</body>
</html>